/* roboto-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/roboto-v30-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v30-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
  }
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
  
html{
    font-family: 'Open Sans', sans-serif, 'Roboto';
}

body{
    margin:0;
}

#index a{
    color: black;
    text-decoration: none;
}



/*INDEX PAGE*/

/*Page title banner*/
#titleBanner{
    display: grid;
    justify-content: center;
    text-align: center;

    padding: 30px;

    background-color: #7D91B5;
}

#profilePhoto{
    width:200px;

    border-radius: 100px;
}

/*Homepage navigation*/
#navBarIndex{
    text-align: center;

    margin-top: 20px;
    padding: 10px;
}
#navBarIndex a{
    color: black;
    text-decoration: none;
    font-weight: bold;

    padding: 10px;

    box-shadow: inset 0 0 0 0 #7D91B5;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
#navBarIndex a:hover {
    box-shadow: inset 200px 0 0 0 #7D91B5;
    color: white;
  }

/*Grid container for project cards*/
#container{
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(auto-fit, 275px);
    grid-auto-rows: 350px;

    justify-content: center;
    align-items: center;


}


/*Project Cards*/
.projCard{
    text-align: center;
    justify-content: center;

    width:200px;
    margin:auto;

    border: 1px solid black;
    border-radius: 20px;

    box-shadow: 0px 4px 8px 0 rgba(0,0,0,0.2);

}
.projCard:hover{
    border:1px solid black;

    box-shadow: 0px 8px 16px 0 rgba(0,0,0,0.2);

    cursor: pointer;
}
.projCard img{
    width:200px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}



/*PROJECT PAGE*/

#projBody{
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;

}
.proj{
    text-align: center;
}
.proj img{
    width: min(1000px, 75%);
}
.proj a{
    color: blue;
}

#projBody p{
    margin-bottom: 70px;
}
#baltimoreCrimeTitle{
    z-index: 1;
}

.img-comp-container{
    margin-top: -60px;
}

#baltimoreCrimeDescription{
    margin-top: -75px;
    position: relative;
}



/*About Me Page*/

#aboutBody{
    text-align: left;
}

#aboutBody p{
    width: min(1000px, 80%);

    margin-left: auto;
    margin-right: auto;
}